OT_SUBNET=10.20.0.0/24
DMZ_SUBNET=10.30.0.0/24

WEB_DMZ_IP=10.30.0.10
WEB_OT_IP=10.20.0.10
MONITOR_DMZ_IP=10.30.0.31

OPENPLC_OT_IP=10.20.0.11
HMI_OT_IP=10.20.0.21
MONITOR_OT_IP=10.20.0.31

OPENPLC_WEB_PORT=8081
OPENPLC_MODBUS_PORT=1502
HMI_WEB_PORT=1881
MONITOR_PROXY_PORT=15020

# In Docker OT network, monitor should sniff OT interface first.
RUNTIME_IFACE=eth0
